/** @format */

body,
html {
  height: 100%;
  margin: 0px;
}

#root,
#second-root {
  height: 100%;
}

.react-contextmenu-wrapper {
  height: 100%;
}

#file-list {
  height: 95%;
  margin-bottom: 40px;
  padding-right: 10px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
/* 
@media (prefers-color-scheme: dark) {
  input {
    background-color: #424242;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  input {
    background-color: white;
  }
} */
